<!DOCTYPE html>
<html ng-app="sarunint-website" ng-strict-di>
  <head>
    <%= javascript_include_tag 'all' %>
    <%= stylesheet_link_tag 'all' %>
  </head>
  <body>
    <div class="container">
      <si-top-banner></si-top-banner>
      <si-menu-bar></si-menu-bar>
      <si-content></si-content>
      <si-side-bar></si-side-bar>
    </div>
  </body>
</html>