<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag 'angular', 'https://jspm.io/system@0.16.7.js' %>
    <%= stylesheet_link_tag 'bootstrap' %>
  </head>
  <body>
    <script>
    </script>
  </body>
</html>